<script>
        angular.module('MyWebApp', ['ngMessages'])
          .controller('MyWebAppController', ['$scope','$http','$window', function($scope,$http,$window) {
            $scope.user = {};
            $scope.results = [];

            $scope.email = {
              text: 'sample@sample.com'
            };

            var req = {
            method: 'GET',
            url: 'http://localhost:3000/get',
            headers: {
              'Content-Type': undefined
            },
              data: { test: 'test' }
            }

            $scope.search = function () {
              $http(req).then(function mySuccess(response) {
                //reirect to /subscribe
                  $window.location.href = '/subscribe';
                }, function myError(response) {
                console.log("pankaj1");
              });
            }

          }]);
  </script>
  <div ng-app="MyWebApp">
        <form name="myForm" class="form-horizontal" ng-controller="MyWebAppController" ng-submit="search()" >
        <fieldset>
        <div class="form-group">
            <div class="col-md-4">
            </div>
            <h2 class="col-md-4">{{heading}}</h2>
            <div class="col-md-4">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Email address:</label>  
        <div class="col-md-4">
        <input id="textinput" name="input" ng-model="email.text" type="email" placeholder="me@mycompany.com" class="form-control input-md" required>
        
        <br/>
        
        {{!--<p ng-bind="myForm.input.$valid"></p>--}}
        {{!--<p ng-bind="myForm.input.$error.required"></p>--}}
        {{!--<div role="alert" class="msg-block" ng-if="myForm.input.$dirty" style="color:maroon; display: inline-block;">
          <div ng-if="myForm.input.$error.required">The Email field is required</div>
          <div ng-if="myForm.input.$invalid" >Email format is wrong</div>
        </div>--}}
        
        {{!--Can be done by using ng-if='myForm.input.$error' && ng-show='myForm.input.$error.required'--}}
        <div role="alert" class="msg-block" ng-messages="myForm.input.$error" style="color:maroon; display: inline-block;">
          <div ng-message="required">The Email field is required</div>
          <div ng-message="email" >Email format is wrong</div>
        </div>

        <span class="help-block">Enter your corporate email id for registration</span>
        </div>
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Signup" >SignUp</button>
        </div>
        </div>

        </fieldset>
        </form>

        <div class="form-group">
          <p class="col-md-8">Admin click here</p>
          <p class="col-md-8">Employee click click here to update their profile data</p>
        </div>
  </div>