<div ng-app="MyWebApp" class="container">
        <form name="myForm" class="form-horizontal" ng-controller="MyWebAppController" ng-submit="search()" role="form">
        <fieldset>
        <div class="form-group">
            <div class="col-md-4">
            </div>
            <h3 class="col-md-4">{{heading}}</h3>
            <div class="col-md-4">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Email address:</label>  
        <div class="col-md-4">
        <input id="textinput" name="input" ng-model="emailInput" type="email" placeholder="me@mycompany.com" class="form-control input-md" required>
        
        
        <br/>
        
        {{!--<p ng-bind="myForm.input.$valid"></p>--}}
        {{!--<p ng-bind="myForm.input.$error.required"></p>--}}
        {{!--<div role="alert" class="msg-block" ng-if="myForm.input.$dirty" style="color:maroon; display: inline-block;">
          <div ng-if="myForm.input.$error.required">The Email field is required</div>
          <div ng-if="myForm.input.$invalid" >Email format is wrong</div>
        </div>--}}
        
        {{!--Can be done by using ng-if='myForm.input.$error' && ng-show='myForm.input.$error.required'--}}
        <div role="alert" class="msg-block" ng-messages="myForm.input.$error" style="color:maroon; display: inline-block;">
          <div ng-message="required">The Email field is required</div>
          <div ng-message="email" >Email format is wrong</div>
          <div ng-if="ifEmailExist" >Email already subscribed with us</div>
        </div>

        <span class="help-block">Note:  Enter your corporate email id for registration</span>
        </div>
        <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Signup" >SignUp</button>
        </div>
        </div>

        </fieldset>
        </form>
        
  </div>