<div class="container" ng-app="MyWebApp">
           
            <p>Show login form here where user can login and will be redirected to loggen in page once loggen in to see my profile,
                Reidrect to my profile if true after this, Write this page in react JS
            </p>

        </div>


