<div class="container" ng-app="MyWebApp">
            <form id="myForm" method="POST" name="myForm" class="form-horizontal" role="form" ng-controller="RegisterController">
                <h2>Thank you for subscribing to our Employee promotional Email</h2>
                
                <h3>Provide more details to become a Silver member</h3>
                <p>After signup you can login to Employee portal and avail other benefits</p>

                <div class='msg-block' ng-messages='myForm.passoword.$error' style="color:maroon; display: inline-block;">
                    <div ng-message="required">Field is required</div>
                </div>
                <div class='msg-block' ng-messages='myForm.confirmpassoword.$error' style="color:maroon; display: inline-block;">
                    <div ng-message="required">Field is required</div>
                <span class='msg-error' ng-if='noMatch'>
                    Passwords don't match.
                </span>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="pw1" name="password" ng-model="Ppassword" placeholder="Password" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmpassword" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="pw2" name="confirmpassword" ng-model="Pconfirmpassword" placeholder="Confirm Password" class="form-control" pw-check='pw1' required>
                    </div>
                </div>
                <div mg-model="myForm.$valid"></div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" ng-click="enter()" class="btn btn-primary btn-block">I want to signup</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" ng-click="exit()" class="btn btn-primary btn-block">No Thanks</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->





