<div class="container" ng-app="MyWebApp">
   
    <input type="hidden" value="{{username}}" id='h_v'>
        <div id="app"></div>
        <script src="/js/user-profile.js"></script>
        </div>
        





