body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: black;
    border-radius: 0.3em;
}

.form-control {
    background-color: white;
}

.form-control[disabled]
{
    background-color:orangered;
}

.form-horizontal .control-label{
    color:white;
}
h3,h2
{
    color:yellow;
}


/**[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}*/

@media (min-width: 992px)
{
.col-md-4 {
    width: 100%;
}
}

@media (min-width: 768px)
{
.form-horizontal .control-label
{
    text-align: left;
}
}
